:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-fg-primary);
  background-color: var(--color-bg-canvas);
  height: 100%;
}

#root {
  height: 100%;
}
