.page-container {
  width: 100%;
  max-width: var(--layout-max-width);
  min-height: 100%;
  margin: auto;
}

.page-body {
  width: 100%;
  padding: 0 var(--page-body-padding-x);
  margin: auto;
}

.page-section-container {
  width: 100%;
  padding: var(--section-padding-y) var(--section-padding-x);
}

.page-section-container.no-padding {
  padding: 0;
}

.page-section-container.no-top-padding {
  padding-top: 0;
}

.page-section-container.no-bottom-padding {
  padding-bottom: 0;
}

.page-section-container.full-bleed {
  width: calc(100% + (var(--page-body-padding-x, 0px) * 2));
  margin-left: calc(var(--page-body-padding-x, 0px) * -1);
  margin-right: calc(var(--page-body-padding-x, 0px) * -1);
}

@media (max-width: 768px) {
  .page-body {
    width: 100%;
    min-width: 100%;
  }
}

.page-body.reset-horizontal-padding-mobile {
  --page-body-padding-x: 0px;
  padding-left: 0;
  padding-right: 0;
}

.page-section-container.reset-horizontal-padding-mobile {
  --section-padding-x: 0px;
  padding-left: 0;
  padding-right: 0;
}

.bg-strong {
  background-color: var(--color-bg-strong);
}

.bg-surface {
  background-color: var(--color-bg-surface);
}

.bg-brand-subtle {
  background-color: var(--color-bg-brand-subtle);
}
