.page-container {
  width: 100%;
  min-height: 100%;
}

.page-body {
  width: 80%;
  min-width: 80%;
  min-height: 80%;
  margin: auto;
}

.page-section-container {
  width: 100%;
  padding: var(--spacing-12) var(--spacing-12);
}

.page-section-container.no-padding {
  padding: 0;
}

.page-section-container.no-top-padding {
  padding-top: 0;
}

.page-section-container.no-bottom-padding {
  padding-bottom: 0;
}

.page-section-container.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

@media (max-width: 768px) {
  .page-body {
    width: 100%;
    min-width: 100%;
  }

  .page-body.reset-horizontal-padding-mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .page-section-container {
    padding: var(--spacing-2xl) var(--spacing-md);
  }

  .page-section-container.reset-horizontal-padding-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.bg-strong {
  background-color: var(--color-bg-strong);
}

.bg-surface {
  background-color: var(--color-bg-surface);
}

.bg-brand-subtle {
  background-color: var(--color-bg-brand-subtle);
}
