node_modules/

# Turbo cache
.turbo/
**/.turbo/

.vscode/

# Build outputs
dist/
coverage/
apps/coverage/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.pnpm-store/

# Env files
.env
.env.*
!.env*.example

# TLS certs (production)
certs/
