.stickyPanel {
  padding: 0 var(--spacing-4);
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.borderRight {
  border-right: 1px solid var(--color-border-default);
}

.borderLeft {
  border-left: 1px solid var(--color-border-default);
}

@media (max-width: 992px) {
  .borderLeft {
    border-left: none;
    min-height: 60vh;
    max-height: 60vh;
  }
}
