.card {
  border: 1px solid var(--color-border-default);
  box-shadow: var(--shadow-sm);
  height: 100%;
}

.title {
  margin: 0;
  font-size: var(--font-size-lg);
}

.card.project {
  padding: var(--spacing-6);
}

@media (min-width: 1024px) {
  .card.project {
    padding: var(--spacing-4);
  }
}
