:root {
  /* Brand */
  --palette-brand-100: #dbeafe;
  --palette-brand-300: #93c5fd;
  --palette-brand-400: #60a5fa;
  --palette-brand-500: #3b82f6;
  --palette-brand-600: #2563eb;

  /* Neutral */
  --palette-neutral-0: #ffffff;
  --palette-neutral-50: #f9fafb;
  --palette-neutral-100: #f3f4f6;
  --palette-neutral-200: #e5e7eb;
  --palette-neutral-400: #9ca3af;
  --palette-neutral-500: #6b7280;
  --palette-neutral-600: #4b5563;
  --palette-neutral-700: #374151;
  --palette-neutral-800: #1f2937;
  --palette-neutral-900: #111827;
  --palette-neutral-950: #081a34;
  --palette-neutral-1000: #000000;
}
